.app-petites-annonces {
  width: 70vw;
  margin: auto;
}
.app-entete {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 60vw;
}
#text-annonce {
  width: 60vw;
  height: 10vh;
}

.info-connexion {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  font-size: 4em;
}

.logo p {
  margin: 0;
}

.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}

.hidden-ajout {
  visibility: hidden;
}

.visible-ajout {
  visibility: visible;
}

ul {
  list-style: none;
  padding: 0px;
}
li {
  border-top: 3px solid black;
  height: 3em;
  width: 60vw;
  text-align: left;
  padding: 1em;
  font-size: 1.5em;
  margin-top: 0.5em;
}
button {
  border: none;
  height: 2em;
}
.bouton-supprimer-liste {
  float: right;
  background-color: rgb(239, 239, 239);
}
.bouton-supprimer-liste:hover {
  background-color: #f4e409;
}
